<div class="row mt-2">
  <div class="col-md-8">
    <h2>Contact us</h2>
    <p>to get in touch, send me an email or complete the form. i look forward to hearing from you.
      due to the number of emails i receive i unfortunately can’t reply to all. thank you for taking the time to reach out.
    </p>
  </div>
</div>
