<div class="row mt-2" >
  <div class="col-md-8">
    <h2>About us</h2>
    <p>welcome to the digital home of me, jenny mustard – youtuber, writer, instagrammer, and podcaster.

      together with my partner david, i run the youtube channel jenny mustard and instagram account @jennymustard since 2015. on the ridiculously vague theme of ‘opinion pieces’, i create neat little video essays on feminism, modern living, design, and pop culture.

      i’m also the host of the pop-culture and social commentary podcast the mustards, jointly hosted by david mustard, aka the cutest thing alive. i see it as a monday morning pep-talk. lighthearted, raw, and easy. recording the podcast is a favourite moment each week and i fluctuate between feeling ashamed and proud of the number of bad in-jokes we share with our listeners.

      my one true creative addiction though, is writing. (compare: champagne, my one true physical addiction.) i’ve dabbled: short stories, video scripts, essays, blog posts, instagram captions. even the odd tweet, although i admit that particular platform leaves me kind of confused and a little bit despondent. however, none of the above comes even close to the obsessiveness working on a novel inflicts on you. a compulsion i’m not sure should be considered healthy. but it sure is fun.

      originally swedish, i’m happily based in london. i read, watch films, eat, and walk. i also very much enjoy a party. especially the getting-dressed-up part.

      send me an email: info@jennymustard.com

      or find me here:</p>
  </div>
</div>
