<div class="row mt-2">
  <div class="col">
    <h4>Add new post</h4>
    <form (ngSubmit)="createPost()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          id="title"
          class="form-control"
          [(ngModel)]="title"
        />
      </div>
      <div class="form-group">
        <label for="date-created">Date created</label>
        <input
          type="text"
          name="date-created"
          id="date-created"
          class="form-control"
          [(ngModel)]="dateCreated"
        />
      </div>
      <div class="form-group">
        <label for="body">Description</label>
        <input
          type="text"
          name="body"
          id="body"
          class="form-control"
          [(ngModel)]="body"
        />
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>

