<nav class="navbar navbar-light bg-light navbar-expand">
  <a class="navbar-brand">My Blog</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
        <a class="nav-link" routerLink="posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add" routerLinkActive="active">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact-us" routerLinkActive="active">Contact us</a>
      </li>
    </ul>
  </div>
</nav>

