<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-12">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text small">{{ post.dateCreated }}</p>
        <p class="card-text">{{ post.body }}</p>
      </div>
    </div>
  </div>
</div>
