<div class="row mt-2">
  <div class="col-md-12">
    <h4>Posts</h4>
    <div class="list-group">
      <a
        *ngFor="let post of posts; let i = index"
        class="list-group-item list-group-item-action"
        [routerLink]="['/', i]"
      > {{ post.title }}<br/>
        {{ post.dateCreated }}
        <button>Read more..</button>
      </a>
    </div>
  </div>
</div>
